<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StaffSRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <StaffSRC.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Server=192.168.20.97\ASRK_TEST;Database=staff_106;User Id=root;Password=1234</value>
            </setting>
            <setting name="tableName" serializeAs="String">
                <value>[staff_106].[dbo].[staff]</value>
            </setting>
        </StaffSRC.Properties.Settings>
    </userSettings>
</configuration>