<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LazyStaff.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LazyStaff.Properties.Settings>
            <setting name="connectionString" serializeAs="String">
                <value>Server=localhost\SPORTAPP;Database=106_staff;User Id=root;Password=1234</value>
            </setting>
            <setting name="tableName" serializeAs="String">
                <value>[106_staff].[dbo].[staff]</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>shieldadm</value>
            </setting>
            <setting name="admin" serializeAs="String">
                <value>False</value>
            </setting>
        </LazyStaff.Properties.Settings>
    </userSettings>
</configuration>